@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Quicksand:wght@300..700&display=swap');

:root {
    --new-color: #ef7e6c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainMeal {
    padding: 40px 80px;
}

.ourMealTitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 40px 60px 40px; */
    /* border: 1px solid black; */
}

.mainMeal .ourMealTitle .mealTitleHead {
  width: 50%;
  /* border: 1px solid black; */
}

.ourMealNav {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 50%;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

.ourMealNav .catBtn {
    background-color: transparent;
    padding: 10px;
    color: var(--new-color);
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    width: 130px;
    text-align: center;
    border: 1px solid var(--new-color);
    transition: all 0.4s ease;
    cursor: pointer;
}

.ourMealNav .clicked {
    background-color: var(--new-color);
    color: #ffffff;
    padding: 10px;
    border-color: #FFA31E;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    width: 130px;
    text-align: center;
    border: 1px solid #F5F5F5;
    transition: all 0.4s ease;
    cursor: pointer;
}

.mainMealCard {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(4, minmax(250px, auto)); */
    gap: 30px;
    width: 100%;
    /* overflow: scroll; */
}

.mainMealChild {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
    /* border: 1px solid black; */
    overflow-x: scroll;
}

.mealCard {
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    background: #ffffff;
    padding: 20px;
    transition: all 2s ease;
    width: 9cm;
    
}

.mealCard .ourMealImg img {
    width: 8cm;
    height: 7cm;
}

.mealCard .ourMealContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.mealCard .ourMealContent .ourMealHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.ourMealCard .ourMealContent .ourMealHead .ourMealTitle h3 {
    color: #999;
    font-size: 20px;
    font-weight: 600;
}

.ourMealContent .ourMealHead .ourMealPrice span {
    color: #FFA31E;
    font-size: 18px;
    font-weight: 600;
    width: 20px;
}

.mealCard .ourMealContent .ourMealPara {
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    height: 4cm;
}

.mealCard .ourMealContent .ourMealBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mealCard .ourMealBtn .btnPrimary {
    border-radius: 30px;
    border: 1px solid var(--new-color);
    background-color: #ffffff;
    color: var(--new-color);
}

.btnPrimary {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 30px;
    background: #FFA31E;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.mealCard .ourMealBtn .ourMealWishList {
    width: 35px;
    height: 35px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

@media (max-width: 614px) {
    .mainMeal {
        padding: 20px 40px;
    }
    .ourMealNav {
        justify-content: center;
        align-items: center;
    }
}