.cart {
  /* margin-top: 100px; */
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.cart-items {
  margin-top: 89px;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.cart-summary {
  width: 50%;
  height: auto;
  border-left: 2px solid var(--border-color);
}

.cart-items-title {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.cart-items-item {
  margin: 10px 0px;
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1cm;
}

.cart-items-item div,
.cart-items-item p {
  width: 100%;
  /* border: 1px solid black; */
}

.cart-items-item img {
  height: 1cm;
  width: 1cm;
}

.cart hr {
  height: 1px;
  background-color: var(--border-color);
  border: none;
}

.cart-items-item .cross {
  cursor: pointer;
  color: red;
}

.cart-bottom {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: max(12vw, 20px);
}

.cart-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.cart-total h2 {
  color: var(--font-color);
}

.cart-total .cart-total-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-total .cart-total-summary p { 
  font-weight: bold;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: var(--font-color);
  gap: 10px;
}

.cart .cart-summary-dish {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--font-color);
}

.cart .cart-summary-dish .dish-count {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.cart-total hr {
  margin: 10px 0px;
  background: var(--border-color);
}

.updateBtn, .cart-total button {
  border: none;
  color: var(--child-element-bg-color);
  background-color: var(--font-color);
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.cart .address-section {
  width: 50%;
  height: 80vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}
.cart .address-section .address-form {
  width: 90%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: 20px;
}

.cart .address-section .address-form div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100px;
  gap: 10px;
  font-size: 18px;
}

.cart .address-section .address-form div > label {
  color: var(--font-color);
}

.cart .address-section .address-form div > input {
  height: 50px;
  border-radius: 40px;
  border: 1px solid var(--border-color);
  padding-left: 20px;
  width: 100%;
  color: var(--font-color);
}

.cart .address-section .address-form button {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--border-color);
  cursor: pointer;
  color: var(--child-element-bg-color);
}
.cart .tab {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  gap: 100px;
  width: 50%;
  justify-content: center;
  height: 10vh;
  border-bottom: 2px solid var(--border-color);
}

.cart .tab p {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--font-color);
}
@media (max-width: 750px) {
  .cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .cart .tab {
    width: 100%;
  }
  .cart .cart-items {
    width: 100%;
  }
  .cart .address-section {
    width: 100%;
    border-bottom: 2px solid var(--new-color);
  }
  .cart .cart-summary {
    width: 100%;
    padding: 20px 20px;
    height: auto;
    border: none;
  }
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
}
