@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Quicksand:wght@300..700&display=swap");

:root {
  --new-bg: #C7FFDA;
}

.homeAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: "Abhaya Libre", serif;
  background: var(--element-bg-color);
}

.homeAbout .homeAboutHead {
  text-align: center;
  padding: 20px;
  color: var(--font-color);
}

.homeAbout .homeAboutHead > h1 {
  margin-bottom: 20px;
}

.homeAbout .homeAboutHead h1 > span {
  font-family: "Playwrite CU", cursive;
  color: var(--new-bg);
}

.homeAbout .homeAboutContent {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.homeAbout .homeAboutContent > .homeAboutContent1 {
  text-align: center;
  height: 321px;
  width: max(9cm,30%);
  padding: 19.8px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px var(--new-bg);
  background: var(--new-bg);
  color: var(--font-color);
}

.homeAboutContent1 > i,
.homeAboutContent1 > h1,
.homeAboutContent1 > p {
  margin-bottom: 10px;
}

.homeAboutContent1 i {
  font-size: 100px;
}