@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Quicksand:wght@300..700&display=swap");

:root {
  --orange-border: #fd9400;
  --orange-bg: #ffad3b;
  --light-orange-bg: #ffd293;
  --new-color: #ef7e6c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 20px 10px;
  background: transparent;
}

.mainBtn {
  text-align: center;
  display: flex;
  gap: 10px;
}

.mainBtn button {
  height: 50px;
  padding: 0 30px;
  border-radius: 50px;
  border: 3px solid var(--element-bg-color);
  background-color: var(--element-bg-color);
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  transition-duration: 0.5s;
}

.mainBtn a {
  color: white;
}

.mainBtn button:hover {
  background-color: transparent;
  color: var(--font-color);
}

.nameTitle {
  width: 300px;
}

.nameTitle h1 {
  width: 100%;
  font-family: "Playwrite CU", cursive;
  font-weight: 500;
  color: var(--font-color);
}

.navBtnGroup {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navigator ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.navigator ul a > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
  font-family: "Playfair Display", serif;
  font-weight: 300;
  cursor: pointer;
  color: var(--font-color);
  text-decoration: none;
}

.navigator li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navigator li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigator ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigator .actiev {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--new-color);
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.cartIcon {
  position: relative;
  color: var(--font-color);
}

.cartIcon a {
  color: var(--font-color);
}

.cartIcon .dot {
  position: absolute;
  width: 20px;
  height: 15px;
  background-color: var(--border-color);
  border-radius: 10px;
  top: -8px;
  right: -8px;
  color: var(--child-element-bg-color);
  font-size: 14px;
  text-align: center;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-left: 10px;
}

.btnGroup p {
  font-size: 20px;
  cursor: pointer;
}

.btnGroup button {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  background: transparent;
  border: 2.5px solid var(--element-bg-color);
  font-family: 'Playfair Display', sans-serif;
}

.btnGroup button:hover {
  background-color: var(--element-bg-color);
  color: white;
  transition: 0.9s;
}

.navbar .sideBar {
  right: 1cm;
  display: none;
}

.navbar .sideBar > svg {
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
}

.profile-section {
  text-align: center;
  position: relative;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--font-color );
}

.profile-icon svg {
  height: 50px;
  width: 50px;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-list {
  height: auto;
  text-align: center;
  width: 150px;
  top: 60px;
  right: 1px;
  position: absolute;
  border: none;
  box-shadow: 3px 5px 8px var(--element-bg-color);
  background-color: var(--element-bg-color);
  border-radius: 15px;
  color: white;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  opacity: 1;
  z-index: 1;
  animation: profile-slide-down 1s ease;
}

.profile-list .list a {
  color: white;
  text-decoration: none;
}

.profile-list .list-line {
  border: 1px solid white;
  border-radius: 10px;
}

@keyframes profile-slide-down {
  0% {
    height: 0px;
    opacity: -1;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

.navbarline {
  border: 1px solid var(--border-color);
}

@media (max-width: 1080px) {
  .navbar .sideBar {
    display: block;
  }
  .navbar {
    width: 100%;
  }

  .navbar .navigator {
    display: none;
  }

  .navbar .sideBar {
    display: block;
    cursor: pointer;
    color: var(--border-color);
  }
  .mainBtn1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .mainBtn1 button {
    height: 50px;
    padding: 0 30px;
    border-radius: 50px;
    border: 3px solid var(--element-bg-color);
    background-color: var(--element-bg-color);
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    transition-duration: 0.5s;
  }
  .mainBtn1 button:hover {
    background-color: var(--border-color);
    border: 3px solid var(--border-color);
    color: white;
  }
  @keyframes slide-animate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .otherNavigator {
    display: flex;
    width: 100%;
    z-index: 1;
    position: absolute;
    gap: 10px;
    padding: 20px 0;
    align-content: center;
    justify-content: center;
    background-color: rgba(120, 192, 145, 0.523);
    animation: slide-animate 0.5s ease-in-out;
  }

  .otherNavigator .closeNavigator {
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    color: var(--child-element-bg-color);
  }

  .otherNavigator ul {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .otherNavigator li {
    margin-bottom: 18px;
    text-decoration: none;
    color: var(--child-element-bg-color);
  }
  .mainBtn {
    display: none;
  }

  .nameTitle h1 {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 714px) {
  .mainBtn {
    display: none;
  }
  .mainBtn1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 0 20px 0 20px;
  }
  .mainBtn1 button {
    height: 50px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    transition-duration: 0.5s;
  }
  .mainBtn1 button:hover {
    background-color: transparent;
    color: white;
  }
}

@media (max-width: 1080px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  .btnGroup {
    position: absolute;
    right: 75px;
  }
}
