.order-modification-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.order-modification-container h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 10px 0;
}

.order-table {
  width: max(8cm, 100%);
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-table th,
.order-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center; /* Center-aligns content */
  word-wrap: break-word; /* Handles long text wrapping */
  overflow: scroll;
}

.order-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 16px;
}

.input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.modify-button,
.payment-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.modify-button:hover,
.payment-button:hover {
  background-color: #218838;
}

.payment-button {
  margin-top: 20px;
  background-color: #007bff;
}

.payment-button:hover {
  background-color: #0056b3;
}

.payment-status {
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
}
