:root {
  --new-color: #ef7e6c;
}

.mainSignInDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSignInDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  opacity: 1;
}

.mainSignInDiv .loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: var(--element-bg-color);
  padding: 30px;
  border-radius: 30px;
  box-shadow: inset 2px 2px 10px var(--border-color);
  z-index: 1;
  position: relative;
}

.mainSignInDiv .loginSection h1 {
  margin-bottom: 10px;
  color: var(--font-color);
}

.mainSignInDiv .emailSection {
  width: 100%;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

.mainSignInDiv .emailSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.mainSignInDiv .emailSection form > label {
  font-family: "Abhaya Libre", cursive;
  font-size: 26px;
  color: var(--font-color);
}

.mainSignInDiv .emailSection form > input {
  width: 100%;
  padding-left: 10px;
  height: 1.3cm;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  font-size: 14px;
  color: var(--font-color);
}

.mainSignInDiv .emailSection form > button {
  width: max(2.5cm, 100%);
  padding: 13px;
  border-radius: 10px;
  border: none;
  background: var(--border-color);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainSignInDiv .otpSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.mainSignInDiv .otpSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.mainSignInDiv .otpSection form > label {
  font-family: "Abhaya Libre", cursive;
  font-size: 20px;
  color: var(--font-color);
}

.opt-container input {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  height: 2cm;
  width: 2cm;
}

.mainSignInDiv .otpSection form > button {
  width: max(2.5cm, 100%);
  padding: 20px;
  border-radius: 50px;
  border: none;
  background: var(--border-color);
  color: aliceblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.loadingPie {
  animation: loading 1s linear infinite;
  border: 2px solid white;
  border-top: 2px solid var(--element-bg-color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.loadingPie path {
  width: 10px;
}

.googleLogin {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  gap: 20px;
  background: var(--child-element-bg-color);
  color: var(--font-color);
}

.googleLogin img {
  width: 1cm;
  height: 1cm;
}

.googleLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .mainSignInDiv {
    flex-direction: column;
  }
  .mainSignInDiv .loginSection {
    width: auto;
  }
  .mainSignInDiv .loginSection form {
    align-items: center;
    margin-left: 0;
  }
  .mainSignInDiv .emailSection form > input {
    width: 100%;
  }
  .mainSignInDiv .emailSection form > button {
    width: 100%;
  }
  .googleLogin {
    width: 100%;
  }
}
