* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F0FFF1;
    --element-bg-color: #78C091;
    --child-element-bg-color: #C7FFDA;
    --border-color: #2F4B26;
    --font-color: #2F4B26;
}

#root {
    background: var(--main-bg-color);
}
::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1440px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar {
        display: none;
    }    
}