* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    /* background: linear-gradient(to right, #46494C, #C5C3C6); */
    background: #F7F3E3;
}
::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1440px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar {
        display: none;
    }    
}