@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Quicksand:wght@300..700&display=swap");

:root {
  --name-color: #276113;
  --order-button: #84bd99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px 20px;
  flex-wrap: wrap-reverse;
}

.div1header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.div1header .hungrydiv {
  color: #2f4b26;
  padding: 20px 20px;
  width: fit-content;
  border-radius: 50px;
  border: 2px solid var(--border-color);
}

.div1header .hungrydiv > h3 {
  font-family: "Abhaya Libre", serif;
  font-size: 25px;
}

.div1header .tagline > h1 {
  color: black;
  font-family: "Playfair Display", serif;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-weight: 500;
  color: rgb(83, 83, 83);
}

.tagline h1 > span {
  color: var(--name-color);
  font-family: "Playwrite CU", cursive;
  font-weight: 700;
}

.div1header p {
  color: black;
  font-family: "Abhaya Libre", serif;
  font-size: larger;
}

.div1header .orderNowBtn {
  margin-right: 10px;
  background-color: var(--order-button );
  padding: 10px 20px;
}

.div1header button {
  color: var(--font-color);
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  font-family: "Abhaya Libre", serif;
  font-size: 600;
  letter-spacing: 1px;
  border: 1.9px solid var(--border-color);
  background: transparent;
  cursor: pointer;
}

.headerImg {
  height: 100%;
  width: 450px;
  background: var(--element-bg-color);
  border: 5px solid var(--element-bg-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.headerImg img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  top: 2.5px;
}
