@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CU:wght@100..400&family=Quicksand:wght@300..700&display=swap");

.peekMenu {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  background-color: var(--element-bg-color);
}

.peekMenu .sneakPeekTitle {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 80px;
}

.peekMenu .sneakPeekTitle h1 {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
}

.peekMenu .sneakPeekTitle h1 > span {
  font-family: "PlayWrite CU", cursive;
  color: black;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.peekMenu .sneakPeekTitle p {
  letter-spacing: 1px;
  font-size: 21px;
  font-family: "Abhaya Libre", serif;
}

.peekMenu .sneakPeekMenu {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
  width: 100%;
  overflow-x: scroll;
  padding: 0 20px 0 20px;
}

.peekMenu .sneakPeekMenu .peekMenuImg > img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-top: -120px;
}

.peekMenu .sneakPeekMenu .mainPeekMenuDish {
  display: flex;
  align-items: end;
  height: 55vh;
}

.peekMenu .sneakPeekMenu .mainPeekMenuDish .peekMenuDish {
  width: 7cm;
  padding: 20px;
  text-align: center;
  gap: 15px;
  border-radius: 30px;
  background-color: #C7FFDA;
  box-shadow: 2px 2px 10px #C7FFDA;
}

.peekMenu .peekMenuDish h3 {
  margin-top: 30px;
  color: black;
  margin-bottom: 20px;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}

.peekMenu .peekMenuDish p {
  color: black;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}

.peekMenuDish span {
  border: 3px solid #C4F4C7;
  background: #B3E9C7;
  height: 50px;
  padding: 10px;
  border-radius: 25px;
  margin-right: 40px;
  color: black;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}

.peekMenuDish .peekButton {
  height: 50px;
  padding: 10px;
  border-radius: 60px;
  border: 2px solid #C4F4C7;
  background: #B3E9C7;
  transition: 0.9s;
  cursor: pointer;
  color: black;
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}

.mainLoader {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 1cm;
  height: 1cm;
  border-radius: 50%;
  border: 4px solid rgb(0, 0, 0);
  border-top: 4px solid white;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 412px) {
  .peekMenu {
    width: 100%;
    height: auto;
  }

  .peekMenu .sneakPeekMenu {
    overflow-x: scroll;
    /* display: grid; */
  }
  .peekMenu .sneakPeekMenu .peekMenuDish {
    width: 100%;
  }
  .peekMenu .sneakPeekMenu .peekMenuImg > img {
    margin-top: 0;
  }
}
