.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: var(--element-bg-color);
  min-height: 100vh;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  position: relative;
}

.about-us-image {
  width: 14cm;
  height: 11cm;
  border-radius: 5%;
  margin-right: 40px;
  margin-top: 20px;
  opacity: 0;
  border: 4px solid var(--border-color);
}

.team-description {
  max-width: 600px;
  font-family: Arial, sans-serif;
  opacity: 0;
  color: var(--font-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-heading {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: var(--font-color);
  position: relative;
}

.heading-underline-team {
  display: block;
  height: 5px;
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--font-color) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 10%;
  animation: glow 1s ease-out forwards;
  animation-delay: 1s;
}

@keyframes glow {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 80%;
  }
}

.animate-image {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.5s;
}

.animate-description {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2.5s;
}

.animate-paragraph {
  opacity: 1;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* Responsive Design */

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    text-align: center;
  }

  .about-us-image {
    width: 12cm;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .team-description {
    margin-left: 0;
  }

  .animate-heading {
    font-size: 24px;
  }

  .heading-underline-team {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .about-us-image {
    width: 100%;
    height: auto;
  }

  .about-us-content {
    padding: 10px;
  }

  .team-description {
    font-size: 0.9rem;
  }

  .animate-heading {
    font-size: 22px;
  }

  .heading-underline-team {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .about-us-content {
    padding: 5px;
  }

  .about-us-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .team-description {
    font-size: 0.8rem;
  }

  .animate-heading {
    font-size: 18px;
  }

  .heading-underline-team {
    width: 40%;
  }
}
